
[submodule "custom_python_blocks"]
	path = custom_python_blocks
	url = https://github.com/Intelligent-Mobile-Device-Lab-at-KSU/custom_python_blocks.git
[submodule "mod-id-data"]
	path = mod-id-data
	url = https://github.com/Intelligent-Mobile-Device-Lab-at-KSU/mod-id-data.git
